div {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 320px;
  height: 80px;
  display: block; 
  background: #CD5C5C;
  overflow: hidden;
  margin: 10px 10px;
  padding: 20px;
  border: 1px solid #F08080;
  border-radius: 20px;
  box-shadow: 30px -16px 15px -8px #F08080;
  color:white;
  font-size:20px;
}

body {
  background: #FFC0CB;
}