#wind {
  height: 3000px;
  border: 1px solid black;
}

.block {
  position: static;
  height: 100px;
  width: 100px;
  margin: 500px 500px;

  background: #2F4F4F;
}

.block.active {
  position: fixed;
  margin-top: 0;
}

