table {
  font-family: "Monotype Corsiva" Cursive;
  font-size: 14px;
  width: 800px;
  background: #F5DEB3;
  text-align: left;
  border-collapse: collapse;
}

#a {
	font-size: 22px;
	background-color: #A52A2A;
}

table td:first-child {
  padding-top:15px;
  padding-left: 50px;
  color: #FFFFF0;
  background: #FFA07A;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

table td:nth-child(2) {
  padding-top:15px;
  padding-left: 50px;
  color: #FFFFF0;
  background: #FF7F50;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

table td:nth-child(3) {
  padding-top:15px;
  padding-left: 50px;
  color: #FFFFF0;
  background: #FF6347;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

table td:nth-child(4) {
  padding-top:15px;
  padding-left: 50px;
  color: #FFFFF0;
  background: #FF4500;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}


table tr {

font-weight: normal;
border-bottom: 2px solid #A0522D;
border-right: 3px solid #A0522D;
border-left: 3px solid #A0522D;

}

table td {
border-right: 3px solid #A0522D;
border-left: 3px solid #A0522D;
color: #8b8e91;
}

img {
	width: 100px;
	height:50px;
}